html
  head
    title
    link(rel="stylesheet", href="../css/pages/main.css")
  body
    div.container
    mixin walkthroughUnit(title, content, on, off, link)
      div.leftPara
        h2=title
        p=content
        button.toggle
          div.left.on=on
          div.right=off
        a.smallLink(href="#")=link
      div.rightImage will fill
    +walkthroughUnit('This is a whole title',
    'Here is where we explain the stuff about how you do this and that',
    'Sounds good',
    'No thanks',
    'Sure, I want to add or subtract a domain for Nudging')
    +walkthroughUnit('somethin', 'some written stuff', 'yeah', 'no', 'hey')
  script(src="../../js/walkthrough.js")